{% extends 'search.html' %}
{% load staticfiles %}

{% block title %}
<title>sentimetn</title>
{% endblock %}

{% block navbar-active %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'search' %}">Classifier</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#">Sentiment</a>
</li>
{% endblock %}

{% block content %}
<div class="container" id="search-bar">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="/sentiment/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="submit">
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% if results %}
<p>score: {{ results.score }}</p>
<p>magnitude: {{ results.magnitude }}</p>
{% endif %}
{% endblock %}